.profile {
    margin-top: 80px;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    height: 500px;
    border: 1px solid #000;
    background-color: #fff;
}
.password-form {
    float: right;
    border-left: 1px solid; 
}
.details {
    max-width: 30%;
    margin-right: 10%;
}
@media only screen and (max-width: 766px) {
    .profile {
        margin-top: 80px;
        max-width: 1000px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 50px;
        height: 1000px;
        border: 1px solid #000;
        background-color: #fff;
    }
    .password-form {
        float: right;
    }
    .details {
        max-width: 100%;
        margin-right: 10%;
    }
    img {
        max-width: 230px;
        max-height: 230px;
    }
}
